<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/escada','home']">Escada </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <ul class="nav nav-pills" role="tablist">
          <li role="presentation" class="active"><a [routerLink]="['/escada','sells']">Продажи <span class="badge">42</span></a></li>
          <li role="presentation"><a [routerLink]="['/escada','clients']">Клиеты<span class="badge">33</span></a></li>
          <li role="presentation"><a [routerLink]="['/escada','order','list']">Товары <span class="badge">63</span></a></li>
        </ul>
      </ul>
    </div>
  </div>
</nav>
<!--<nav class="navbar navbar-default" style="background-color: black">
  <div class="container-fluid">

    <div class="navbar-header">
      <a [routerLink]="['/']" class="navbar-brand"> We-out</a>
    </div>
    <div class="collapse navbar-collapse navbar-right">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/events']" routerLinkActive="active_link">Events</a></li>
        <li><a [routerLink]="['/accounts','login']">Log In</a></li>
        <li><a [routerLink]="['/accounts','register']">register</a></li>
        <li><a (click)="logout()">Log Out</a></li>
        <li><a [routerLink]="['/accounts','confirm']">confirm</a></li>
      </ul>

    </div>
  </div>
</nav>-->

