<div class="container">
    <div class="col-md-3 ">
        <label> Набор заказа</label>
    </div>
    <div class="col-md-3">
      <label> Подтверждение заказа</label>
    </div>
    <div class="col-md-3">
      <label >Поставка заказа</label>
    </div>
    <div class="col-md-3">
      <label > Приемка товара</label>
    </div>
</div>


<form #form="ngForm" class="form-group-sm" >
  <div class="row">
  <div class="form-group col-sm-4">
    <label for="collection"> Коллекция</label>
    <select name="Collection" id="collection" class="form-control">
      <option value="ESCADA LM">Предварительная</option>
      <option value="ESCADA SPORT">Основная</option>
    </select>
  </div>
  </div>
</form>
<!--  form form new -->
<!--<div class="card">-->
  <div class="row text-center card">
        <div class="col-md-2"> Группа</div>
        <div class="col-md-1 ">Артикул </div>
        <div class="col-md-2"> Наиме.</div>
        <div class="col-md-1"> Код еват</div>
        <div class="col-md-1"> цвет</div>
        <div class="col-md-1"> Размер</div>
        <div class="col-md-1"> Колич.</div>
        <div class="col-md-1"> Цена</div>
        <div class="col-md-2"> Описание</div>
       <!-- <div class="col-md-2"> Состав</div>-->
  </div>
          <form  (ngSubmit)="onSubmit()" [formGroup]="formOrders">
            <div class="row card">
             <div formArrayName="commands" >
                <div *ngFor="let line of getControls(); let i=index"
                        [formGroupName]="i">
                  <!--<div class="row">-->
                    <div class="col-md-2">
                      <!-- Group-->

                      <select  id="group"  class="form-control" formControlName="group" >
                        <option [value]="'None'">None</option>
                        <option [value]="'Pullovers'">Pullovers</option>
                        <option [value]="'Skirts'">Skirts</option>
                      </select>
                    </div>

                    <div class="col-md-1">
                      <input type="text" class="form-control" formControlName="vendor">
                    </div>

                    <!-- Name-->
                    <div class=" col-md-2 ">

                      <select class="form-control" formControlName="name" >
                        <option [value]="'блузка'">блузка</option>
                        <option [value]="'джемпер'">джемпер</option>
                        <option [value]="'брюки'">брюки</option>

                      </select>

                    </div>

                    <!---       code color              -->
                    <div class="  col-md-1  ">
                      <!--  code Color-->

                      <input type="text"  class="form-control" formControlName="code_color">
                    </div>

                    <!-- Color-->
                    <div class="col-md-1">
                      <select  class="form-control" formControlName="color" >
                        <option value="Жульеый">Жульеый</option>
                        <option value="Синий">Синий</option>
                        <option value="красный">красный</option>
                      </select>

                    </div>
                    <!-- Size-->
                      <div class="col-md-1">
                        <input type="text" formControlName="size"  class="form-control">
                      </div>
                   <!-- <div *ngFor="let i of size" class="col-sm-1 text-center " >
                      <label for="size{{i}}">{{i}}</label>
                      <input type="number" required  [name]="'size-'+i" class="form-control"
                             id="size{{i}}" ngModel #size{{i}}="ngModel" >
                    </div>-->

                    <!---  quantity   -->
                    <div class="  col-md-1  ">
                      <!-- quantity-->
                      <input type="text"  class="form-control" formControlName="quantity">
                    </div>
                    <!---       price              -->
                    <div class="  col-md-1  ">
                      <input type="text"  class="form-control" formControlName="price">
                    </div>

                    <!-- description -->
                    <div class="col-md-2 ">

                      <textarea class="form-control"   formControlName="description" > </textarea>
                    </div>
                    <!-- composition -->
                   <!-- <div class="col-md-2 ">

                      <textarea class="form-control" rows="1"> </textarea>
                    </div>-->
                  <!--</div>-->

                </div>
              </div>
            </div>
            <br><br>
            <div class="row">
              <div class="col-md-10"></div>
              <div class="col-md-2">
                <button type="button" class="btn btn-info btn-circle "
                        (click)="addCommandLine()">
                  <span class="glyphicon glyphicon-plus-sign glyphicon-align-right"></span>
                </button>

              </div>
            </div>
            <br><br>
            <div class="row">
              <div class="col-md-8"></div>

              <div class=" form-group-sm btn-group btn-group-justified " role="group" aria-label="...">
                <div class="col-md-2">
                  <div class="btn-group" role="group">
                    <input type="button" class="btn btn-default" value="Удалить"/>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="btn-group" role="group">
                    <input type="submit" class="btn btn-primary" value="Сохранить"/>
                  </div>
                </div>

              </div>
            </div>


          </form>



<!--</div>-->


<br><br><br>
<div class="container">

  <div class="row ">
    <div class="col-md-10">    </div>
    <div class="col-md-2">
    <button (click)="saveAsExcel()">Скачать<span class="glyphicon glyphicon-download"></span></button>
    </div>

  </div>
</div>

