
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-heading">Все Магазины</div>
          <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-danger">
          <div class="panel-heading">ESCADA SPORT</div>
          <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-success">
          <div class="panel-heading">ESCADA ML</div>
          <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
        </div>
      </div>
    </div>
  </div><br>

  <div class="container">
    <div class="card card-container">
      <h2> Добовить поставку</h2>
      <form #form="ngForm" (ngSubmit)="beginOrder(form)"
            class="form-register">

        <div class="form-group">
          <input type="text" placeholder="Название поставки" class="form-control"
           ngModel name="name" #name="ngModel" required>
        </div>
        <div class="form-group ">
          <label for="brand"> БРЕНД</label>
          <select name="brand" id="brand" class="form-control"
                  ngModel #brand="ngModel" required>
            <option value="ESCADA LM" selected>ESCADA LM</option>
            <option value="ESCADA SPORT">ESCADA SPORT</option>
          </select>
        </div>

        <div class="form-group">
          <label for="season"> Сезон</label>
          <select name="season" id="season" class="form-control" ngModel #season="ngModel" required>
            <option value="Осень-Зима" selected>Осень-Зима</option>
            <option value="Весна-Лето">Весна-Лето</option>
          </select>
        </div>
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <div class="btn-group" role="group">
            <input type="button" class="btn btn-default" value="Отменить" [disabled]="!form.valid"/>
          </div>
          <div class="btn-group" role="group">
            <!-- TODO  disable the submit button if form not valid-->
            <input type="submit" class="btn btn-primary" value="Добавить" />
          </div>

        </div>
      </form>
    </div>
  </div>



